/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*{
    border: 1px solid red
}*/

@media only screen and (max-width: 768px) {

    .nav-bar {
        display: flex;
        /*border: 1px solid red;*/
        
 /*flexbox*/

    }
    
    .logo {

        width: 100px;
        height: 50px;
    
    }



    .menulateral {
        margin-left: 250px;
        position: absolute;
        opacity: 10;
          }
        /*sidebar*/

    

    .imgclass {
        max-height: 300px;
    }

    p {
        color: #5b5e6d;
        font-family: "Times New Roman", Times, serif;
        
    }

    .email{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 30%;
        flex-direction: row;
        height: 30px;
        width: 150px;
        margin-bottom: -58px;
        
    }
    .text{
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        
    }

    .buttonclass{
    display: flex;
    margin: 30%;
    flex-direction: row;
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 30px;
    width: 160px;
    font: bold 20px arial, sans-serif;
    text-shadow:none;
    margin-bottom: -51px;


}

.tamanho{
    width: 241px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

.txtbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 4%;
    margin: 30%;
    height: 30px;
    width: 160px;
    
}
.button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 4%;
    margin: 15%;
    height: 30px;
    text-decoration-color: blue;
    color: blue;
    border-style: outset;
    border-color: #0066A2;
    width: 230px;
    font: bold 20px arial, sans-serif;
    text-shadow:none;
   align-self: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.embaixobutton{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 27%;
    flex-direction: row;
    height: 10px;
    width: 183px;
    line-height: 1em;
    margin-bottom: 25px;
    
}
.divgeral{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: Comic sans-serif;
    
}

.goodcompany-text{
    text-align: center;
    font-family: Comic sans-serif;
}



.goodcompany{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 570px;
    margin: 0px;
    background-color: #F4F3F4;
}
main img {
    height: 3em;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    

}

.img4{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 570px;
    margin: 0px;
    background-color: #F4F3F4;

    
}

.img5{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 570px;
    margin: 0px;
    background-color: #F4F3F4;
    margin: auto;

    
}
.img6{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 570px;
    margin: 0px;
    background-color: #F4F3F4;
    
}

.footer-box{
    display: flex;
    font-size: 0.9em;
    text-align: center;
    border: 2px solid #EEE;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #EEE;
    margin: -3px 5% 0 -11%;
    padding: 0px;
    width: 120%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    font-family: Comic sans-serif;

}

.footer-box img{
    width: 125px;
}

.logo-solo{
    width: 118px;
        height: 94px;
}

.final-footer{
    background-color: #F4F3F4;
    display: flex;
    font-size: 1.0em;
    text-align: center;
    padding: 40px 100px;
    margin-bottom: 25px;
   
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: "  ";
    }


}